@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;
}

:root{
--bg-color: #081b29;
--second-bg-color: #112e42;
--text-color: #ededed;
--main-color: #00abf0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* ---------- SECTION HOME CONTENT ---------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: var(--bg-color);
}

.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar {
    position: relative;
}
.navbar a{
font-size: 1.7rem;
color: var(--text-color);
font-weight: 500;
margin-left: 3.5rem;
transition: .3s;
}

.navbar a:hover,
.navbar a.active{
color: var( --main-color);
}

#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    align-items: center;
    justify-content: center;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 2rem;
}

.home-content .text-animate{
    position: relative;
    width: 34.8rem;
}

.home-content .text-animate h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;

}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}


.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    text-align: justify;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box .btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before{
width: 100%;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 1rem 1.5rem 3rem 0;
}

.btn-dowload{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}
.btn-dowload:hover{
    box-shadow: none;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s ease;
}

.home-sci a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-sci a:hover::before{
    width: 100%;

}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background:transparent;
    transition: 3s;
}

.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}

/* ---------- SECTION ABOUT CONTENT ---------- */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
}

span{
    color: var(--main-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-right: .2rem solid var(--main-color);
    border-left: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.btn-box.btns{
    display:  inline-block;
    width: 15rem;
    
}

.btn-box .btns a::before{
    background: var(--second-bg-color);

}




/* ---------- SECTION BODY CONTENT ---------- */
#content-body {
    display: flex;
    align-items: flex-start;
    height: 90vh;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0px 0px 8%;
    margin-bottom: 10vh;
    margin-left: 3vh;
    max-height: 100vh;
    opacity: 0.6;
}

.developer-intro {
    display: flex;
    align-items: center;
}

.developer-intro p {
    padding: 5px 10px;
    margin: 0 20px 0 0;
    background-color: #64f4ac;
    color: #2d2e32;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2.5px;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.developer-intro p:hover {
    font-weight: 900;
}

.body-title h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.5px;
    padding: 35px 0 0 0;
}

.body-title p {
    font-size: 12px;
    padding: 20px 0;
    color: #cacaca;
    font-weight: 500;
    line-height: 25px;
}

.body-title a {
    font-size: 16px;
    color: #64f4ac;
    font-weight: 600;
    padding: 20px 0;
    margin: 20px 0;
}

.body-tail {
    display: flex;
    align-items: start;
    padding: 100px 0 0 0;
}

.body-tail p {
    color: #cacaca;
    font-size: 16px;
    font-weight: 500;
    padding: 0 40px 0 5px;
}

.body-part-2 {
    position: relative;
}

.background-circle {
    background: var(--bg-color);
    border-radius: 50%;
    width: 550px;
    height: 550px;
    z-index: 9;
    box-shadow: 0 0 20px #00000080;
}

.hoodie-guy {
    position: absolute;
    background: url('../assets/Hoodie-guy.png');
    top: 10rem;
    height: 550px;
    width: 550px;
    background-size: cover;
}

.circle {
    position: relative;
    top: 40rem;
    left: 24rem;
    width: 10rem;
    height: 10rem;
    transform-style: preserve-3d;
    animation: animateCircle 40s linear infinite;
}

@keyframes animateCircle {
0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
    translateY(-30px);
}
100% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
    translateY(-30px);
}
}

.circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2e32;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 15))) translateZ(300px);
}

.circle span img {
    position: relative;
    top: 1rem;
    left: 1rem;
    object-fit: cover;
}


/* ---------- SECTION EDUCATION CONTENT ---------- */
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 6rem;
    margin-bottom: 1rem;
}
.education .heading{
    margin-top: -4rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;

}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 1.7rem;
}

.education-content .content p{
    font-size: 1.2rem;
    padding-top: .5rem;
}

/* ---------- SECTION SKILLS CONTENT ---------- */

.skills{
    min-height: auto;
    padding-bottom: 10rem;
    background: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 1.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 80%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
}

/* footer design */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text{
    font-size: 1.3rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

/* BREAKPOINTS*/
@media (max-width: 991px) {
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4%;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;

    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        transition-delay: .25s;
        left: 0;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width: 520px) {
    html{
        font-size: 50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a{
        width: 38px;
        height: 38px;
    }

}


@media (max-width: 462px) {
    .home-content h1{
        font-size: 5.2rem;
    }

    .education{
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse
    }

    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}

/* ANIMATION RELOAD AND SCROLL */
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    z-index: 98;
}


.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
/* KEYFRAMES ANIMATION */
@keyframes homeBgText{
    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }

    65%,
    85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText{
    0%,
    10%,
    100%{
        width: 0;
    }

    65%,
    78%,
    85%{
       width: 66%;
       opacity: 1;
    }
    75%,
    81%{
        opacity: 0;
    }
}

@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}